<link rel="stylesheet" href="/stylesheets/chat/chat.css">
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />


<script src="/javascripts/chat/chat.bundle.js" defer></script>



<div class="chat-main-container" id="chatMainContainer">


    <section class="all-chat-section " id="allChatSection">

        <div class="all-chat-header all-chat-section__header " id="allChatHeader">
            <div class="all-chat-header__title" id="allChatHeaderTitle">Chat</div>
            <div class="all-chat-header__btn-container" id="allChatHeaderBtnContainer">
                <div class="all-chat-header__btn" id="createNewGroupChatBtn">
                    <%- include("../partials/icons/addGroup.svg") _%>
                </div>
            </div>
        </div>

        <div class="all-chat-chat-box-container" id="allChatChatBoxContainer">

            <% locals.allChat.forEach(chat=>{ -%>


                <div class="chat-box" data-chat-id='<%=chat._id-%>'>

                    <div class="chat-box__column chat-box__column--img">
                        <div
                            class='chat-box__pic <%=(chat.chatPic && chat.chatPic !=="")?"chat-box__pic--hide-svg":"chat-box__pic--hide-img" %> '>
                            <img src="<%=chat.chatPic -%>" alt="chat img">
                            <%- include('../partials/icons/chatPic.svg')-%>

                        </div>

                    </div>
                    <div class="chat-box__column chat-box__column--data">
                        <div class="chat-box__row">
                            <% if(chat.isGroupChat){ -%>
                                <div class="chat-box__icon">
                                    <%- include('../partials/icons/group.svg')-%>
                                </div>

                                <% } %>
                                    <div class="chat-box__name"><%=chat.chatName-%>
                                    </div>
                        </div>


                        <div class="chat-box__latest-message-box">
                            <% if(chat.hasOwnProperty("latestMessage") && chat.latestMessage !=='' ){ %>

                                <% if(chat.latestMessage.hasOwnProperty("isInfoMessage") &&
                                    chat.latestMessage.isInfoMessage===true){ %>
                                    <div class="chat-box__sender"></div>

                                    <div class="chat-box__latest-message">
                                        <% if(chat.latestMessage.infoMessageType==='video-call' ){ %>
                                            <%- include("../partials/icons/videoCallBlankIcon.svg") -%>
                                                <% } %>
                                                    <% if(chat.latestMessage.infoMessageType==='new-group' ){ %>
                                                        <%- include("../partials/icons/newGroupBlankIcon.svg") -%>
                                                            <% } %>

                                                                <%= chat.latestMessage.infoMessageContent %>

                                    </div>
                                    <% } else { %>
                                        <div class="chat-box__sender">

                                            <% if
                                                (chat.latestMessage.sender._id.toString()==locals.loginUser._id.toString())
                                                { -%>
                                                You:
                                                <% } else { %>
                                                    <%= chat.latestMessage.sender.firstName + ":" -%>
                                                        <% } -%>

                                        </div>

                                        <div class="chat-box__latest-message">

                                            <%=(chat.latestMessage.hasMediaContent==true) ?
                                                chat.latestMessage.mediaContentType.charAt(0).toUpperCase() +
                                                chat.latestMessage.mediaContentType.slice(1) :
                                                chat.latestMessage.textContent-%>

                                        </div>
                                        <% } %>
                                            <% } else { %>
                                                <div class="chat-box__sender"></div>
                                                <div class="chat-box__latest-message"></div>
                                                <% } %>
                        </div>

                    </div>
                    <div class="chat-box__unseen-message-count">9+</div>

                    <div class="chat-box__latest-message-time">
                        <%= chat.hasOwnProperty("latestMessageTime") ? chat.latestMessageTime: chat.chatCreatedTime -%>
                    </div>
                </div>


                <% }) -%>

        </div>




    </section>


    <section class="active-chat-section active-chat-section--hide" id="activeChatSection" data-chat-id="">

        <div class="active-chat-header" id="activeChatHeader">
            <div class="active-chat-header__left-btn-container">
                <div class="active-chat-header__btn" id="ActiveChatToAllChatBtn">
                    <%- include("../partials/icons/backBtn.svg") _%>
                </div>
            </div>
            <div class="active-chat-header__pic active-chat-header__pic--hide-img" id="activeChatHeaderPic">
                <img src="" id="activeChatImg" alt="">
                <%- include('../partials/icons/chatPic.svg') -%>

            </div>
            <div class="active-chat-header__column active-chat-header__column--user-data" id="activeChatHeaderUserData">
                <div class="active-chat-header__title" id="activeChatHeaderName">
                    Chat Name
                </div>
                <div class="active-chat-header__chat-status" id="activeChatHeaderStatus">
                    Active
                </div>
            </div>
            <div class="active-chat-header__right-btn-container">
                <div class="active-chat-header__btn" id="activeChatAudioCallBtn">
                    <%- include('../partials/icons/audioCallBtn.svg') -%>
                </div>

                <div class="active-chat-header__btn" id="activeChatInfoBtn">
                    <%- include('../partials/icons/infoBtn.svg') -%>
                </div>

            </div>
        </div>

        <div class="active-chat-message-container" id="activeChatMessageContainer">

        </div>

        <div class="active-chat-input-container" id="activeChatInputContainer">


            <div class="active-chat-input-container__enable-box">

                <div class="active-chat-input-attachment-box" id="activeChatInputAttachmentBox">

                    <div class="input-attachment-btn-container input-attachment-btn-container--hide"
                        id="activeChatInputAttachmentBtnContainer">

                        <div class="input-attachment-btn-box">

                            <div class="input-attachment-btn-box__icon" id="activeChatInputAttachmentYoutubeBtn">
                                <%- include("../partials/icons/youtubeAttachmentIcon.svg") -%>
                                    Youtube
                            </div>
                            <div class="input-attachment-btn-box__input-box input-attachment-btn-box__input-box--hide"
                                id="activeChatInputAttachmentYoutubeBtnInputBox">
                                <input type="url" class="input-attachment-btn-box__input" placeholder="Youtube Url"
                                    id="activeChatInputAttachmentYoutubeContent">
                                <div class="input-attachment-btn-box__send-btn"
                                    id="activeChatInputAttachmentYoutubeContentSendBtn">
                                    Send
                                </div>
                            </div>
                        </div>
                        <div class="input-attachment-btn-box">

                            <div class="input-attachment-btn-box__icon" id="activeChatInputAttachmentFileBtn">
                                <%- include("../partials/icons/fileAttachmentBlankIcon.svg") -%>
                                    File
                            </div>

                        </div>
                    </div>

                    <div class="active-chat-input-attachment-box__btn" id="activeChatInputAttachmentBoxBtn">
                        <%- include('../partials/icons/addAttachmentBlankIcon.svg') -%>
                    </div>

                </div>





                <div class="active-chat-input-box" id="activeChatInputBox">
                    <div class="active-chat-input-box__emoji-container active-chat-input-box__emoji-container--hide"
                        id="activeChatInputEmojiContainer">
                    </div>

                    <textarea class="active-chat-input-box__text" rows="1" placeholder="Message..."
                        id="activeChatInputTextContent"></textarea>
                    <div class="active-chat-input-box__left-btn-container">
                        <div class="active-chat-input-box__btn" id="activeChatInputEmojiBtn">
                            <%- include('../partials/icons/emojiBtn.svg') -%>
                        </div>
                    </div>

                </div>
                <div class="active-chat-input-send-box" id="activeChatInputSendBox">

                    <div class="active-chat-input-send-box__btn " id="activeChatInputSendBtn">
                        <%- include('../partials/icons/sendBtn.svg') -%>
                    </div>
                </div>

            </div>
            <div class="active-chat-input-container__disable-box">
                <div class="active-chat-input-disable-title">
                    You are not allowed to send message in this group.
                </div>
            </div>

        </div>

    </section>


</div>