<section class="active-chat-section" id="activeChatSection">

    <div class="active-chat-header" id="activeChatHeader">
        <div class="active-chat-header__left-btn-container">
            <div class="active-chat-header__btn" id="backToAllChatBtn">
                <%- include("../partials/icons/backBtn.svg") _%>
            </div>
        </div>
        <div class="active-chat-header__pic">
            <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80"
                alt="">
        </div>
        <div class="active-chat-header__column active-chat-header__column--user-data">
            <div class="active-chat-header__title">
                Aisha Oberao
            </div>
            <div class="active-chat-header__chat-status">
                Active
            </div>
        </div>
        <div class="active-chat-header__right-btn-container">
            <div class="active-chat-header__btn">
                <%- include('../partials/icons/audioCallBtn.svg') -%>
            </div>

            <div class="active-chat-header__btn">
                <%- include('../partials/icons/infoBtn.svg') -%>
            </div>

        </div>
    </div>
    <div class="active-chat-message-container">
        <div class="active-chat-message-date-box">
            30 november 2022
        </div>
        <div class="active-chat-message-box active-chat-message-box--right">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, voluptatem est. Adipisci eveniet
                    nostrum unde!
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second ">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>
        <div class="active-chat-message-box ">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, voluptatem est. Adipisci eveniet
                    nostrum unde!
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>
        <div class="active-chat-message-box active-chat-message-box--right">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, voluptatem est. Adipisci eveniet
                    nostrum unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id, eos
                    praesentium quis quod dolorum facilis earum? Impedit praesentium aspernatur ipsam? Commodi, ut
                    facere? Cupiditate atque
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second ">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>
        <div class="active-chat-message-box ">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lorem ipsum dolor sit, amet consectetur adipisic
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>
        <div class="active-chat-message-box active-chat-message-box--right">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lore
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second ">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>
        <div class="active-chat-message-box ">
            <div class="active-chat-message-box__user">
                User1
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__content">
                    Lorem ipsum
                </div>
                <div class="active-chat-message-box__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-message-box__row">
                <div class="active-chat-message-box__message-status-container ">
                    <div class="active-chat-message-box__message-status">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                    <div
                        class="active-chat-message-box__message-status active-chat-message-box__message-status--second">
                        <%- include('../partials/icons/messageTick.svg') -%>
                    </div>
                </div>
                <div class="active-chat-message-box__message-time">
                    02:46 AM
                </div>

            </div>
        </div>

    </div>
    <div class="active-chat-input-container">
        <div class="active-chat-input-box">
            <textarea class="active-chat-input-box__text" id="textContent" placeholder="Message..."></textarea>
            <div class="active-chat-input-box__left-btn-container">
                <div class="active-chat-input-box__btn">
                    <%- include('../partials/icons/emojiBtn.svg') -%>
                </div>
            </div>
            <div class="active-chat-input-box__right-btn-container">
                <div class="active-chat-input-box__btn">
                    <%- include('../partials/icons/attachmentBtn.svg') -%>
                </div>
                <div class="active-chat-input-box__btn">
                    <%- include('../partials/icons/cameraBtn.svg') -%>
                </div>
            </div>
        </div>
        <div class="active-chat-send-box">
            <div class="active-chat-send-box__btn">
                <%- include('../partials/icons/micBtn.svg') -%>
            </div>
            <div class="active-chat-send-box__btn active-chat-send-box__btn--hide">
                <%- include('../partials/icons/sendBtn.svg') -%>
            </div>
        </div>
    </div>
</section>






<div>

    <iframe width="853" height="480" src="https://www.youtube.com/embed/XzxetwQb8xM"
        title="Best of Arijit Singh Top 10 Superhit Songs// Arijit Singh Soulful Songs#arjitsingh #trendingvideo"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>

    </iframe>
</div>




<div class="active-chat-message-box active-chat-message-box--right">
    <div class="active-chat-message-box__user">
        User1
    </div>
    <div class="active-chat-message-box__row">

        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>


        <div class="active-chat-message-box__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, voluptatem est. Adipisci eveniet
            nostrum unde!
        </div>
        <div class="active-chat-message-box__btn">
            <%- include('../partials/icons/infoBlankBtn.svg') -%>
        </div>
    </div>
    <div class="active-chat-message-box__row">
        <div class="active-chat-message-box__message-status-container ">
            <div class="active-chat-message-box__message-status">
                <%- include('../partials/icons/messageTick.svg') -%>
            </div>
            <div class="active-chat-message-box__message-status active-chat-message-box__message-status--second ">
                <%- include('../partials/icons/messageTick.svg') -%>
            </div>
        </div>
        <div class="active-chat-message-box__message-time">
            02:46 AM
        </div>

    </div>
</div>









<div class="chat-modal chat-modal--hide" id="addedUserModal">
    <div class="chat-modal-content chat-modal-content--added-user">

        <div class="added-user-container">
            <div class="chat-modal-content-row chat-modal-content-row--added-user-container">
                <div class="added-user-container__title">Added User:</div>
                <div class="added-user-user-count">0/10</div>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jhajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">j _ajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">hajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jsndjs_es</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">james</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jsndjshajdhames</div>


                <span class="added-user__remove">X</span>
            </div>




        </div>
        <div class="add-user-search-box">
            <input class="add-user-search-box__input" type="text" placeholder="Search user ">
            <%- include('../partials/icons/searchBtn.svg') -%>
        </div>
        <div class="add-user-searched-user-container">
            <div class="add-user-searched-user-container__title">Select User:</div>
            <div class="add-user-searched-user">
                <div class="add-user-searched-user__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="chat-modal-content--column chat-modal-content-column--user-data">
                    <div class="add-user-searched-user__fullname">Anjali Mishra</div>
                    <div class="add-user-searched-user__username">@anjali</div>
                </div>
                <div class="add-user-searched-user__btn">
                    <%- include('../partials/icons/addNew.svg') -%>
                </div>
            </div>
            <div class="add-user-searched-user">
                <div class="add-user-searched-user__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="chat-modal-content--column chat-modal-content-column--user-data">
                    <div class="add-user-searched-user__fullname">Anjali Mishra</div>
                    <div class="add-user-searched-user__username">@anjali</div>
                </div>
                <div class="add-user-searched-user__btn">
                    <%- include('../partials/icons/addNew.svg') -%>
                </div>
            </div>



        </div>
        <div class="add-user-btn-container">
            <div class="add-user__btn">Cancle</div>
            <div class="add-user__btn add-user__btn--add-user ">Add</div>
        </div>
    </div>
</div>











<div class="chat-modal " id="activeChatInfoModal" data-chat-id="">
    <div class="chat-modal-content chat-modal-content--chat-info">
        <div class="chat-info-header">
            <div class="chat-info-header__title">
                User Info
            </div>
            <div class="chat-info-header__btn-container">
                <div class="chat-info-header__btn">
                    <%- include('../partials/icons/audioCallBtn.svg') -%>
                </div>
                <div class="chat-info-header__btn">
                    <%- include('../partials/icons/infoBtn.svg') -%>
                </div>
                <div class="chat-info-header__btn chat-info-header__btn--close-modal">
                    <%- include('../partials/icons/closeBtn.svg') -%>
                </div>
            </div>
        </div>
        <div class="chat-info-pic">
            <img src="https://image.cnbcfm.com/api/v1/image/106930629-1629399630371-gettyimages-494691340-87856868.jpeg?v=1629399760&w=740&h=416&ffmt=webp&vtcrop=y"
                alt="">

        </div>
        <div class="chat-info-name">
            james bond
        </div>
        <div class="chat-info-desc">
            i am bond, koi sakk. if you have any please contact to my manager.😎😎
        </div>
        <div class="chat-info-btn-container">
            <div class="chat-info-btn">
                <%- include('../partials/icons/shareBlankBtn.svg') -%>
                    Share This User
            </div>
            <div class="chat-info-btn">
                <%- include('../partials/icons/deleteBlankBtn.svg') -%>
                    Delete Chat
            </div>
            <div class="chat-info-btn chat-info-btn--block-user ">
                <%- include('../partials/icons/blockBtn.svg') -%>
                    Block User
            </div>
        </div>
        <div class="chat-info-member-container">
            <div class="chat-info-member-container__title">
                <span class="chat-info-member-container__count">2</span>Members
            </div>
            <div class="chat-info-member">
                <div class="chat-info-member__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="chat-info-member__column chat-info-member__column--data">
                    <div class="chat-info-member__fullname">Anjali Mishra</div>
                    <div class="chat-info-member__username">@anjali</div>
                </div>
                <div class="chat-info-member__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="chat-info-modal">
    <div class="chat-info-modal-content">
        <div class="chat-info-header">
            <div class="chat-info-header__title">
                User Info
            </div>
            <div class="chat-info-header__btn-container">
                <div class="chat-info-header__btn">
                    <%- include('../partials/icons/audioCallBtn.svg') -%>
                </div>
                <div class="chat-info-header__btn">
                    <%- include('../partials/icons/infoBtn.svg') -%>
                </div>
                <div class="chat-info-header__btn chat-info-header__btn--close-modal">
                    <%- include('../partials/icons/closeBtn.svg') -%>
                </div>
            </div>
        </div>
        <div class="chat-info-pic">
            <img src="https://image.cnbcfm.com/api/v1/image/106930629-1629399630371-gettyimages-494691340-87856868.jpeg?v=1629399760&w=740&h=416&ffmt=webp&vtcrop=y"
                alt="">

        </div>
        <div class="chat-info-title">
            james bond
        </div>
        <div class="chat-info-desc">
            i am bond, koi sakk. if you have any please contact to my manager.😎😎
        </div>
        <div class="chat-info-btn-container">
            <div class="chat-info-btn">
                <%- include('../partials/icons/shareBlankBtn.svg') -%>
                    Share This User
            </div>
            <div class="chat-info-btn">
                <%- include('../partials/icons/deleteBlankBtn.svg') -%>
                    Delete Chat
            </div>
            <div class="chat-info-btn chat-info-btn--block-user ">
                <%- include('../partials/icons/blockBtn.svg') -%>
                    Block User
            </div>
        </div>
        <div class="chat-info-member-container">
            <div class="chat-info-member-container__title">
                <span class="chat-info-member-container__count">2</span>Members
            </div>
            <div class="chat-info-member">
                <div class="chat-info-member__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="chat-info-member__column chat-info-member__column--data">
                    <div class="chat-info-member__fullname">Anjali Mishra</div>
                    <div class="chat-info-member__username">@anjali</div>
                </div>
                <div class="chat-info-member__btn">
                    <%- include('../partials/icons/infoBlankBtn.svg') -%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-user-modal">
    <div class="add-user-modal-content">

        <div class="added-user-container">
            <div class="added-user-container__title">Added User</div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jhajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">j _ajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">hajdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jsndjs_es</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">james</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jdhames</div>


                <span class="added-user__remove">X</span>
            </div>
            <div class="added-user">

                <div class="added-user__pic">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQxNzQxNjk5NV5BMl5BanBnXkFtZTgwNTI4MTU0MzE@._V1_FMjpg_UX1000_.jpg"
                        alt="">
                </div>
                <div class="added-user__username">jsndjshajdhames</div>


                <span class="added-user__remove">X</span>
            </div>




        </div>
        <div class="add-user-search-box">
            <input class="add-user-search-box__input" type="text" placeholder="Search user ">
            <%- include('../partials/icons/searchBtn.svg') -%>
        </div>
        <div class="add-user-searched-user-container">
            <div class="add-user-searched-user-container__title">Select User:</div>
            <div class="add-user-searched-user">
                <div class="add-user-searched-user__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="add-user-searched-user__column add-user-searched-user__column--data">
                    <div class="add-user-searched-user__fullname">Anjali Mishra</div>
                    <div class="add-user-searched-user__username">@anjali</div>
                </div>
                <div class="add-user-searched-user__btn">
                    <%- include('../partials/icons/addNew.svg') -%>
                </div>
            </div>
            <div class="add-user-searched-user">
                <div class="add-user-searched-user__pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwZG0c1r7NwrALFtXh6SwfJljueGFW1ZI7xw&usqp=CAU"
                        alt="">

                </div>
                <div class="add-user-searched-user__column add-user-searched-user__column--data">
                    <div class="add-user-searched-user__fullname">Anjali Mishra</div>
                    <div class="add-user-searched-user__username">@anjali</div>
                </div>
                <div class="add-user-searched-user__btn">
                    <%- include('../partials/icons/addNew.svg') -%>
                </div>
            </div>


        </div>
        <div class="add-user-btn-container">
            <div class="add-user__btn">Cancle</div>
            <div class="add-user__btn add-user__btn--active ">Add</div>
        </div>
    </div>
</div>

<div class="create-group-modal">
    <div class="create-group-modal-content">
        <div class="create-group-header">
            <div class="create-group-header__title">Create Group:</div>
        </div>
        <div class="create-group-row">

            <div class="create-group-pic">
                <%- include('../partials/icons/addAvatar.svg') -%>
            </div>
            <div class="create-group-title-value">
                <input type="text" placeholder="Title...">
            </div>
        </div>
        <div class="create-group-desc-value">
            <textarea placeholder='Description...'></textarea>
        </div>
        <div class="create-group-add-user">
            <div class="create-group-add-user__title">
                Add user:
            </div>
            <div class="create-group-add-user__row">
                <div class="create-group-add-user__btn">
                    <%- include('../partials/icons/addUser.svg') -%>
                </div>
                <div class="create-group-add-user__info">Select more than 1 user.</div>

            </div>
        </div>
        <div class="create-group-btn-container">
            <div class="create-group-btn-container__btn">Cancle</div>
            <div class="create-group-btn-container__btn create-group-btn-container__btn--active">Create</div>
        </div>
    </div>
</div>