<link rel="stylesheet" href="/stylesheets/test/test.css" />

<script defer src="/javascripts/test.bundle.js"></script>

<div class="inner-modal" id='chatStyleModal'>
    <div class="inner-modal__close-btn" id="chatStyleModalCloseBtn">X</div>
    <div class="inner-modal-content" id="chatStyleModalContent">
        <div class="chat-style" id="chatStyle">
            <div class="chat-style-title">
                Change Chat Appearance
            </div>
            <div class="chat-style-selection">
                <div class="chat-style-selection__title" id="chatStyleSelectionTitle">
                    Remove background
                </div>
                <div class="chat-style-selection__box" id="chatStyleSelectionBox">
                    <div class="chat-style-selection__btn " data-btn-type="background-remove">
                        <%- include('../partials/icons/chat-info/backgroundRemoveIcon.svg') _%>
                    </div>
                    <div class="chat-style-selection__btn chat-style-selection__btn--active"
                        data-btn-type="background-color"> <%-
                            include('../partials/icons/chat-info/backgroundColorIcon.svg') _%>
                    </div>
                    <div class="chat-style-selection__btn" data-btn-type="background-image"> <%-
                            include('../partials/icons/chat-info/backgroundImageIcon.svg') _%>
                    </div>
                </div>

            </div>
            <div class="chat-style-feature chat-style-feature--background-color" id="chatStylefeature">
                <div class="chat-style-remove-background">
                    <div class="chat-style-remove-background__btn" id="chatStyleBackgroundRemoveBtn"><%-
                            include('../partials/icons/chat-info/backgroundRemoveIcon.svg') _%> Remove Background</div>
                </div>
                <div class="chat-style-background-color" id="chatStyleBackgroundColorBox">
                    <div class="chat-style-background-color__btn" style="background-color: #E2F6CA;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #FAF1E6;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #A4907C;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #A0C49D;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #A2A378;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #E3F2C1;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #FAF1E6;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #E7AB9A;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #C7E8CA;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #F6F7C1;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #FFF6BD;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #E5D9B6;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #B3FFAE;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #9BA17B;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #FFE9A0;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #FAD5AD;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #99F3BD;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #A4B494;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #D9F8C4;"></div>
                    <div class="chat-style-background-color__btn" style="background-color: #D7D1C9;"></div>
                    <div class="chat-style-background-color__custom-btn">
                        <input type="color" id="backgroundCustomColorBtn" value="#ffffff" />
                        <label for="backgroundCustomColorBtn" id="backgroundCustomColorLabel">Custom</label>
                    </div>

                </div>
                <div class="chat-style-background-image">
                    <div class="chat-style-background-image__btn" id="chatStyleBackgroundImageBtn">
                        <%- include('../partials/icons/chat-info/backgroundImageIcon.svg') _%>
                            <span>----Select Image----</span>
                    </div>
                </div>
            </div>
            <div class="chat-style-btn-field" id="chatStyleBtnField">
                <div class="chat-style-btn" id="chatStyleSaveBackgroundChangeBtn">Save</div>
            </div>

            <div class="chat-style-preview-box" id="chatStylePreviewBox">

            </div>

        </div>

    </div>
</div>