<link rel="stylesheet" href="/stylesheets/user-auth/account.css" />

<script defer src="/javascripts/account.bundle.js"></script>







<div class="main-account-container" id='mainAccountContainer' data-mobile-number="" data-access-token="">
  <div class="account-box " id="accountBox">
    <div id="registerBox"
      class="register-box <%= (locals.accountType.toString() === 'register')?'register-box--open':''%> ">
      <div class="register-box__title" id="openRegisterBoxBtn">
        <span>or</span>
        Register
      </div>
      <div class="register-form">
        <div class="register-form__illus">
          <%- include('../partials/illustrations/connectedWorldIllus.svg') -%>
        </div>

        <div class="account-input-field account-input-field--register">
          <label class="account-input-field__label" for="registerMobile">Mobile No:
          </label>
          <input class="account-input-field__input" id="registerMobile" type="number" size="10" maxlength="10"
            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required
            placeholder="987XXX1234" min="0" max="9999999999" pattern="[56789]\d{9}">
        </div>

        <div class="account-otp-activity account-otp-activity--register" id="registerSendOtpField">
          <div class="account-otp-activity__timer" id="registerOtpTimer">
            <span id="registerOtpTimerMinute">02:
            </span>
            <span id="registerOtpTimerSecond">52
            </span>
          </div>
          <button class="account-otp-activity__btn" id="sendRegisterOtpBtn">
            <span id="registerSendOtpText">Send
              OTP</span>
          </button>
        </div>

        <div class="account-input-field account-input-field--register" id="otpField">
          <label class="account-input-field__label" for="registerOtpFirst">OTP:
          </label>
          <div class="account-input-field__otp" id="registerOtp">
            <input id="registerOtpFirst" type="number" maxlength="1" min="0" max="9" />
            <input type="number" maxlength="1" min="0" max="9" />
            <input type="number" maxlength="1" min="0" max="9" />
            <input type="number" maxlength="1" min="0" max="9" />
            <input type="number" maxlength="1" min="0" max="9" />
            <input type="number" maxlength="1" min="0" max="9" />
          </div>


        </div>

        <div class="account-btn-field account-btn-field--register account-btn-field--center-align"
          id="checkRegisterOtpBtn">

          <div class="account-btn account-btn--check-register-otp">
            <%- include('../partials/icons/authNextIcon.svg') -%>
              <span>Submit</span>
          </div>

        </div>
        <div class="main-text-link main-text-link--have-account" id="alreadyHaveAnAccountBtn">already have an account
          ?
        </div>
      </div>


    </div>



    <div id="loginBox" class="login-box <%=(locals.accountType.toString()==='login' )?'login-box--open':''%>">

      <div id="loginBoxInner" class="login-box__inner">
        <div class="login-box__title" id="openLoginBoxBtn">
          <span>or</span>
          Log in
        </div>

        <div class="login-form">
          <div class="account-input-field account-input-field--login" id="loginUserField">
            <label class="account-input-field__label" for="loginUser">Username/Mobile</label>
            <input class="account-input-field__input" type="text" id="loginUser" autocomplete="off"
              placeholder="Username / Mobile">
          </div>
          <div class="account-input-field account-input-field--login" id="loginPasswordField">
            <label class="account-input-field__label" for="loginPassword">Password</label>
            <div class="account-input-field__input-box">
              <input class="" type="password" id="loginPassword" autocomplete="off" placeholder="Password">
              <div class="account-input-field__btn account-input-field__btn--unselected" id="toggleLoginPasswordBtn">
                <div class="account-input-field__btn-icon account-input-field__btn-icon--unselected ">
                  <%- include('../partials/icons/authPasswordHideIcon.svg') -%>
                </div>
                <div class="account-input-field__btn-icon account-input-field__btn-icon--selected ">
                  <%- include('../partials/icons/authPasswordShowIcon.svg') -%>
                </div>
              </div>
            </div>
          </div>
          <div class="account-btn-field account-btn-field--center-align account-btn-field--login" id="loginSubmitBtn">


            <div class="account-btn account-btn--login">
              <%- include('../partials/icons/authNextIcon.svg') -%>
                <span>Login</span>
            </div>

          </div>
          <div class="main-text-link main-text-link--login-without-password" id="loginWithoutPasswordBtn">Login without
            password
          </div>
          <div class="main-text-link main-text-link--forgot-password" id="forgotPasswordBtn">Forgot
            password ?</div>
        </div>
      </div>
    </div>
  </div>

</div>