<title>
  <%= locals.profileUser.firstName + ' ' + locals.profileUser.lastName + ' ' + 'Profile' -%>
</title>
<!-- stylesheets and scripts  -->
<link rel="stylesheet" href="/stylesheets/user/profile.css">

<script src="/javascripts/user/profile.bundle.js" defer></script>








<div id="profileMainContainer" class="profile-main-container" data-user-id="<%= locals.profileUser._id -%>">

  <section class="profile-check-received-follow-request"></section>

  <section id="profileImageSection" class="">
    <img id="profileImage" src="<%= locals.profileUser.profileUrl -%>" alt="profileImage">
    <% if(locals.isOwner==true){ -%>
      <div id="ownerSettingIcon">
        <%- include('../partials/icons/settings.svg') -%>
      </div>
      <% } -%>
  </section>




  <section id="profileAboutSection">
    <div id="profileFullName">
      <%= locals.profileUser.firstName + ' ' + locals.profileUser.lastName -%>
    </div>
    <div id="profileUsername">@<%= locals.profileUser.username-%>
    </div>
    <div id="profileBio" class="">
      <%= locals.profileUser.bio -%>
    </div>
  </section>




  <section id="profileDataSection">
    <div id="profilePosts" class="profile-data">
      <div class="data-count">19</div>
      <div class="data-info">Posts</div>
    </div>
    <div id="profileFollowerBtn" class="profile-data">
      <% if(locals.isOwner===true ){ _%>
        <span id="profileUserReceivedFollowRequestCount">
          <%= locals.profileUser.receivedFollowRequestTotalCount -%>
        </span>
        <% } _%>
          <div class="data-count" id="profileUserFollowerCount">
            <%= locals.profileUser.followerLength _%>
          </div>
          <div class="data-info">Followers</div>
    </div>
    <div id="profileFollowingBtn" class="profile-data">
      <div class="data-count" id="profileUserFollowingCount">
        <%= locals.profileUser.followingLength-%>
      </div>
      <div class="data-info">Following</div>
    </div>
  </section>


  <% if(locals.isOwner==false){ -%>
    <section id="profileButtonSection">

      <button id="profileFollowActionBtn" class="profile-btn <%= (locals.profileUser.userFollowStatus == 'send-follow-request')? 'profile-btn--follow': '' _%> <%= (locals.profileUser.userFollowStatus == 'cancel-sent-follow-request')? 'profile-btn--cancel-sent-follow-request': '' _%>
        <%= (locals.profileUser.userFollowStatus == 'unfollow')? 'profile-btn--unfollow': '' _%>"
        data-user-follow-status='<%= locals.profileUser.userFollowStatus || "" %>'>
        <% if(locals.profileUser.userFollowStatus==='send-follow-request' ){ _%>FOLLOW <% } else
            if(locals.profileUser.userFollowStatus==='cancel-sent-follow-request' ){ -%>CANCEL REQUEST
            <% } else { _%>UNFOLLOW
              <% } %>
      </button>
      <button id="profileMessageBtn" class="profile-btn">
        MESSAGE
      </button>

    </section>
    <% } -%>

      <% if(locals.isOwner==true || locals.profileUser.privacy=='public' ||
        locals.profileUser.hasLoginUserAccessToUserContent ){%>
        <section id="profileContentSection">

          <div id="profileContentNavigation">
            <span id="profileContentInfo">Posts</span>
            <div id="profileContentIcons">
              <span id="profilePostIcon" class="profile-content-icon">
                <%- include('../partials/icons/post.svg') -%>
              </span>
              <span id="profileSavedPostIcon" class="profile-content-icon">
                <%- include('../partials/icons/savedPost.svg') -%>
              </span>
            </div>
          </div>





          <div id="profileContentData">
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ89SOjYZq1iDOe7oIyft8OiTvo7i1nOYz_Hg&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img src="https://c.wallhere.com/photos/d2/1f/nature_plants_square-1489305.jpg!d" alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDUZglpc7Mr6L4vypHGiUCBNowFhnrdaZIgA&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCtyw1YnOC1oIqpvE0OCTVyfw8twPK6EEztg&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLjOsw7TztlJZE20Pm0C7heWR2zH3GJl1mpQ&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9iVPofAEWAinKWTCxFc3xA-kWUBppC8WLFw&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMc5gEl5a0Y2Jjsf0yAq4IRE4ZdsuAXTd7tw&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkxiz3jryrIH0ySjXu5oK1cUdNbTOVFqtbDQ&usqp=CAU"
                alt="profilePost">
            </div>
            <div class="profilePosts">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4tD6VQxGPZ80knxlbJ5jtYZLagHd6XatmxA&usqp=CAU"
                alt="profilePost">
            </div>

          </div>
        </section>
        <% } else{ %>
          <section id="profileContentSection">
            <div id="privateUserProfileContent">
              <div id="privateUserProfileContentTitle">
                This Account Is Private
              </div>
              <div id="privateUserProfileContentDesc">
                Follow to see their Posts and Trends.
              </div>

            </div>
          </section>
          <% } %>


            <% if(locals.isOwner==true) {-%>
              <div id="profileOwnerSettingSection" class="">

                <div id="settingContent">
                  <ul id="settingOptions">
                    <li id="editProfileOption">Edit Profile</li>
                    <li id="changePasswordOption">Change Password</li>
                    <li id="verifyUserEmailOption">Verify Your Email</li>
                    <li id='switchUserPrivacyOption'>Account Privacy
                    </li>
                    <li id='sentFollowRequest'>Sent Follow Requests
                    </li>
                    <li id="userFeedbackReportOption">Give Your Feedback</li>
                    <li id="logoutUserOption">Log Out</li>
                    <li id="cancleSettingOption">Cancle</li>
                  </ul>
                </div>
              </div>


              <div id='profileOwnerSettingContentModal' class="owner-setting-content-modal">
                <div class="owner-setting-content-content" id="profileOwnerSettingContentModalContent">

                </div>

              </div>



              <% }-%>

                <div class="other-user-modal" id="profileOtherUserModal">

                  <span class="other-user-modal__close-btn" id="otherUserModalCloseBtn">close</span>

                  <div class="other-user-modal-content other-user-modal__content" id="profileOtherUserModalContent">

                    <div class="other-user-modal-content__switch-btn-container" id="otherUserSwitchBtnContainer">
                      <div id="followerOtherUserSwitchBtn"
                        class="other-user-modal-content__switch-btn other-user-modal-content__switch-btn--active">
                        Followers</div>
                      <div id="followingOtherUserSwitchBtn" class="other-user-modal-content__switch-btn ">
                        Following
                      </div>

                    </div>
                    <div class="other-user-container" id="followerOtherUserContainer">
                      <% if(locals.isOwner==true){ _%>
                        <div class="other-user-container__title">Follow Requests :</div>
                        <div class="user-box-container other-user-container__user-box-container"
                          id="receivedFollowRequestUserBoxContainer">

                        </div>
                        <div class="other-user-container__see-all-follow-request">See all follow requests >>
                        </div>
                        <% } -%>
                          <div class="other-user-container__title">Followers :</div>
                          <div class="user-box-container" id="followerUserBoxContainer"> </div>
                    </div>

                    <div class="other-user-container other-user-container--active" id="followingOtherUserContainer">
                      <div class="other-user-container__title">Followings</div>
                      <div class="user-box-container other-user-container__user-box-container"
                        id="followingUserBoxContainer">
                      </div>
                    </div>

                  </div>

                </div>





</div>