<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <link id="layoutCss" rel="stylesheet" href="/stylesheets/layout/callLayout.css">

    <%- style %>

</head>

<body>

    <script>
        let IS_INIT_SOCKET_MODULE = false
        let IS_INIT_CALL_MODULE = false
        let socket
        const pageName = '<%= locals.pageName-%>'

        let isLogin = '<%= locals.isLogin -%>'
        isLogin = isLogin === "true"

        let loginUser = {}



    </script>

    <%- body %>

        <script src="/javascripts/callLayout.bundle.js" defer></script>
        <script src="/javascripts/indexSocket.bundle.js" defer></script>



        <%- script %>
</body>

</html>