<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  <link id="layoutCss" rel="stylesheet" href="/stylesheets/layout/mainLayout.css">

  <%- style %>

</head>

<body>

  <script>
    let IS_INIT_EXPLORE_MODULE = false
    let IS_INIT_SOCKET_MODULE = false
    let IS_INIT_CHAT_MODULE = false
    let IS_INIT_MAIN_LAYOUT_MODULE = false
    let socket
    let pageName = '<%= locals.pageName-%>'
    let BOTTOM_MESSAGE_TIME_POINTER = ""
    let TOP_MESSAGE_TIME_POINTER = ""
    let BOTTOM_MESSAGE_USER_POINTER


    let isLogin = '<%= locals.isLogin -%>'
    isLogin = isLogin === "true"

    let isOwnerProfile = '<%= locals.isOwnerProfile-%>'
    isOwnerProfile = isOwnerProfile === "true"

    let loginUser = {}

    let PROFILE_USERNAME = "<%= locals.profileUsername _%>"

    let profileUser = {}

    let activeChatData = {}
    let allChatData = {}

    let USER_MESSAGE_BOX_OBSERVER
    let TOP_MESSAGE_BOX_OBSERVER
    let BOTTOM_MESSAGE_BOX_OBSERVER

  </script>

  <%- include('../partials/mainNavigation.ejs') _%>
    <div class="main-content-container" id="mainContentContainer">
      <%- body %>
    </div>

    <script src="/javascripts/mainLayout.bundle.js" defer></script>
    <script src="/javascripts/indexSocket.bundle.js" defer></script>



    <%- script %>
</body>

</html>