<div class="main-search-section">
    <div class="search-box">
        <input class="search-box__input" type="text" placeholder="Search user">
        <div class="search-box__btn">
            <%- include("../partials/icons/searchBtn.svg")%>
        </div>
    </div>
    <div class="searched-user-box">
        <div class="searched-user">
            <div class="searched-user__pic searched-user__pic--svg">

                <%- include("../partials/icons/userDefaultProfile.svg")_%>
                    <img src='' alt="user Pic">
            </div>
            <div class="searched-user__column searched-user__column--data">
                <div class="searched-user__fullname">Rithik Pathak</div>
                <div class="searched-user__username">@rithik</div>

            </div>
        </div>
        <div class="searched-user">
            <div class="searched-user__pic searched-user__pic--svg">

                <%- include("../partials/icons/userDefaultProfile.svg")_%>
                    <img src='' alt="user Pic">
            </div>
            <div class="searched-user__column searched-user__column--data">
                <div class="searched-user__fullname">Rithik Pathak</div>
                <div class="searched-user__username">@rithik</div>

            </div>
        </div>
        <div class="searched-user">
            <div class="searched-user__pic searched-user__pic--svg">

                <%- include("../partials/icons/userDefaultProfile.svg")_%>
                    <img src='' alt="user Pic">
            </div>
            <div class="searched-user__column searched-user__column--data">
                <div class="searched-user__fullname">Rithik Pathak</div>
                <div class="searched-user__username">@rithik</div>

            </div>
        </div>
        <div class="searched-user">
            <div class="searched-user__pic searched-user__pic--svg">

                <%- include("../partials/icons/userDefaultProfile.svg")_%>
                    <img src='' alt="user Pic">
            </div>
            <div class="searched-user__column searched-user__column--data">
                <div class="searched-user__fullname">Rithik Pathak</div>
                <div class="searched-user__username">@rithik</div>

            </div>
        </div>


    </div>
</div>