<link rel="stylesheet" href="/stylesheets/partials/mainNavigation.css">

<nav class="main-navigation" id="mainNavigation">
  <ul>


    <li class="main-navigation-option <%=locals.pageName=='home' ?'active':''_%>">
      <a class="main-navigation-option-link" href="/">
        <span class="main-navigation-option-icon">
          <%- include('./icons/mainNavHomeIcon.svg') -%>
        </span>
        <span class="main-navigation-option-text">Home</span>
      </a>
    </li>


    <li class="main-navigation-option <%=locals.pageName=='explore' ?'active':''_%>">
      <a class="main-navigation-option-link" href="/explore">
        <span class="main-navigation-option-icon">
          <%- include('./icons/mainNavExploreIcon.svg') -%>
        </span>
        <span class="main-navigation-option-text">Search</span>
      </a>
    </li>


    <li class="main-navigation-option <%=locals.pageName=='add' ?'active':''_%>">
      <a class="main-navigation-option-link" href="/add">
        <span class="main-navigation-option-icon">
          <%- include('./icons/mainNavAddIcon.svg') -%>
        </span>
        <span class="main-navigation-option-text">Add</span>
      </a>
    </li>


    <li class="main-navigation-option <%=locals.pageName=='chat' ?'active':''_%>">
      <a class="main-navigation-option-link" href="/chat">
        <span class="main-navigation-option-icon">
          <%- include('./icons/mainNavChatIcon.svg') -%>
        </span>
        <span class="main-navigation-option-text">Chat</span>
      </a>
    </li>


    <li class="main-navigation-option <%=locals.pageName=='profile'?'active':''_%>">
      <a class="main-navigation-option-link" href="/user-auth/login">
        <span class="main-navigation-option-icon">
          <%- include('./icons/mainNavProfileIcon.svg') -%>
        </span>
        <span class="main-navigation-option-text">Profile</span>
      </a>
    </li>

  </ul>




</nav>