<link rel="stylesheet" href="/stylesheets/partials/mainNavigation.css">



<nav class="main-nav-container" id="mainNavContainer">
  <ul class="main-nav">

    <li class="main-nav-option <%= locals.pageName=='home' ?'main-nav-option--active':''_%>">
      <a class="main-nav-option__link" href="/">
        <div class="main-nav-option__icon">
          <%- include('./icons/mainNavHomeIcon.svg') -%>
        </div>
        <div class="main-nav-option__text">Home</div>
      </a>
    </li>

    <li class="main-nav-option <%= locals.pageName=='explore' ?'main-nav-option--active':''_%>">
      <a class="main-nav-option__link" href="/explore">
        <div class="main-nav-option__icon">
          <%- include('./icons/mainNavExploreIcon.svg') -%>
        </div>
        <div class="main-nav-option__text">Search</div>
      </a>
    </li>


    <li class="main-nav-option <%= locals.pageName=='add' ?'main-nav-option--active':''_%>">
      <a class="main-nav-option__link" href="/add">
        <div class="main-nav-option__icon">
          <%- include('./icons/mainNavAddIcon.svg') -%>
        </div>
        <div class="main-nav-option__text">Add</div>
      </a>
    </li>


    <li class="main-nav-option <%= locals.pageName=='chat' ?'main-nav-option--active':''_%>">
      <a class="main-nav-option__link" href="/chat">
        <div class="main-nav-option__icon">
          <%- include('./icons/mainNavChatIcon.svg') -%>
        </div>
        <div class="main-nav-option__text">Chat</div>
      </a>
    </li>


    <li class="main-nav-option <%= locals.pageName=='profile'?'main-nav-option--active':''_%>">
      <a class="main-nav-option__link" href="/user-auth/login">
        <div class="main-nav-option__icon">
          <%- include('./icons/mainNavProfileIcon.svg') -%>
        </div>
        <div class="main-nav-option__text">Profile</div>
      </a>
    </li>

  </ul>


</nav>