<div class="on-call-section" id="onCallSection">

    <div class="on-call-main-view" id="onCallMainView">
        <div class="on-call-user-box on-call-user-box--video-off">
            <div class="on-call-user-box__video">
                <video src=""></video>
            </div>

            <div class="on-call-user-box__audio on-call-user-box__audio--on">
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                    <%- include("../partials/icons/callMicOnIcon.svg") _%>
                </div>
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                    <%- include("../partials/icons/callMicOffIcon.svg") _%>
                </div>
            </div>

            <div class="on-call-user-box__info">

                <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                    <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                </div>

                <div class="on-call-user-box__name">User1</div>

            </div>

        </div>
        <div class="on-call-user-box on-call-user-box--video-off">
            <div class="on-call-user-box__video">
                <video src=""></video>
            </div>

            <div class="on-call-user-box__audio on-call-user-box__audio--on">
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                    <%- include("../partials/icons/callMicOnIcon.svg") _%>
                </div>
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                    <%- include("../partials/icons/callMicOffIcon.svg") _%>
                </div>
            </div>

            <div class="on-call-user-box__info">

                <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                    <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                </div>

                <div class="on-call-user-box__name">User1</div>

            </div>

        </div>
        <div class="on-call-user-box on-call-user-box--video-off">
            <div class="on-call-user-box__video">
                <video src=""></video>
            </div>

            <div class="on-call-user-box__audio on-call-user-box__audio--on">
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                    <%- include("../partials/icons/callMicOnIcon.svg") _%>
                </div>
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                    <%- include("../partials/icons/callMicOffIcon.svg") _%>
                </div>
            </div>

            <div class="on-call-user-box__info">

                <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                    <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                </div>

                <div class="on-call-user-box__name">User1</div>

            </div>

        </div>
        <div class="on-call-user-box on-call-user-box--video-off">
            <div class="on-call-user-box__video">
                <video src=""></video>
            </div>

            <div class="on-call-user-box__audio on-call-user-box__audio--on">
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                    <%- include("../partials/icons/callMicOnIcon.svg") _%>
                </div>
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                    <%- include("../partials/icons/callMicOffIcon.svg") _%>
                </div>
            </div>

            <div class="on-call-user-box__info">

                <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                    <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                </div>

                <div class="on-call-user-box__name">User1</div>

            </div>

        </div>
        <div class="on-call-user-box on-call-user-box--video-off">
            <div class="on-call-user-box__video">
                <video src=""></video>
            </div>

            <div class="on-call-user-box__audio on-call-user-box__audio--on">
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                    <%- include("../partials/icons/callMicOnIcon.svg") _%>
                </div>
                <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                    <%- include("../partials/icons/callMicOffIcon.svg") _%>
                </div>
            </div>

            <div class="on-call-user-box__info">

                <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                    <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                </div>

                <div class="on-call-user-box__name">User1</div>

            </div>

        </div>

        <div class="on-call-btn on-call-btn--unselected on-call-btn--room-info ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callRoomInfoIcon.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callRoomInfoIcon.svg") _%>
            </div>
        </div>

        <div class="on-call-room-info on-call-room-info--more-info">
            <div class="on-call-room-info__close-btn">X</div>
            <div class="on-call-room-info__pic on-call-room-info__pic--svg">
                <%- include("../partials/icons/callDefaultRoomPicIcon.svg") _%>
                    <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg"
                        alt="">
            </div>
            <div class="on-call-room-info__name">
                Room 1
            </div>
            <div class="on-call-room-info__desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, eius!
            </div>

            <div class="on-call-room-info__secure-info">
                <div class="on-call-room-info__secure-icon">
                    <%- include("../partials/icons/callSecureInfoIcon.svg") _%>
                </div>
                <div class="on-call-room-info__secure-desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto laborum
                    ullam in
                    accusantium.
                    Hic incidunt iusto quaerat. Tempore, esse modi!
                </div>
            </div>

        </div>

        <div class="on-call-room-share">

            <div class="on-call-room-share__close-btn">X</div>
            <div class="on-call-room-share__title">
                Your room's ready
            </div>
            <div class="on-call-room-share__desc">
                Share this call link with other you want in this call

            </div>


            <div class="on-call-room-share__link">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                repudiandae ut commodi maxime


                <div class="on-call-btn on-call-btn--unselected on-call-btn--copy-room-link ">
                    <div class="on-call-btn__icon on-call-btn__icon--unselected">
                        <%- include("../partials/icons/callCopyRoomLinkIcon.svg") _%>
                    </div>
                    <div class="on-call-btn__icon on-call-btn__icon--selected">
                        <%- include("../partials/icons/callCoppiedLinkSuccessfullyIcon.svg") _%>
                    </div>
                </div>

            </div>

        </div>

        <div class="on-call-btn on-call-btn--view-change on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callViewChange.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callViewChange.svg") _%>
            </div>
        </div>
        <div class="on-call-call-status">
            <div class="on-call-call-status__room-pic on-call-call-status__room-pic--svg">
                <%- include("../partials/icons/callDefaultRoomPicIcon.svg") _%>
                    <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg"
                        alt="">
            </div>
            <div class="on-call-call-status__room-status">
                Calling...
            </div>
        </div>
        <div class="on-call-user-box-slider" id="onCallUserBoxSlider">
            <div class="on-call-user-box-slider-btn on-call-user-box-slider-btn--selected">
                <div class="on-call-user-box-slider-btn__icon on-call-user-box-slider-btn__icon--unselected">
                    <%- include("../partials/icons/callLeftArrowIcon.svg") _%>
                </div>
                <div class="on-call-user-box-slider-btn__icon on-call-user-box-slider-btn__icon--selected">
                    <%- include("../partials/icons/callRightArrowIcon.svg") _%>
                </div>
            </div>
            <div class="on-call-user-box on-call-user-box--video-off">
                <div class="on-call-user-box__video">
                    <video src=""></video>
                </div>

                <div class="on-call-user-box__audio on-call-user-box__audio--on">
                    <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                        <%- include("../partials/icons/callMicOnIcon.svg") _%>
                    </div>
                    <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                        <%- include("../partials/icons/callMicOffIcon.svg") _%>
                    </div>
                </div>

                <div class="on-call-user-box__info">

                    <div class="on-call-user-box__pic on-call-user-box__pic--svg">
                        <%- include("../partials/icons/callDefaultRoomUserPicIcon.svg") _%>
                            <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">
                    </div>

                    <div class="on-call-user-box__name">User1</div>

                </div>

            </div>
            <div class="on-call-user-box on-call-user-box--video-off">
                <div class="on-call-user-box__video">
                    <video src=""></video>
                </div>

                <div class="on-call-user-box__audio on-call-user-box__audio--on">
                    <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--on">
                        <%- include("../partials/icons/callMicOnIcon.svg") _%>
                    </div>
                    <div class="on-call-user-box__audio-icon on-call-user-box__audio-icon--off">
                        <%- include("../partials/icons/callMicOffIcon.svg") _%>
                    </div>
                </div>

                <div class="on-call-user-box__info">

                    <div class="on-call-user-box__pic"></div>

                    <div class="on-call-user-box__name">User1</div>

                </div>

            </div>
        </div>

    </div>

    <div class="on-call-main-btn-container" id="onCallMainBtnContainer">

        <div class="on-call-btn on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callCopyLinkIcon.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callCopyLinkIcon.svg") _%>
            </div>
        </div>
        <div class="on-call-btn on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callScreenShareIcon.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callScreenShareCancelIcon.svg") _%>
            </div>
        </div>
        <div class="on-call-btn on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callVideoOnIcon.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callVideoOffIcon.svg") _%>
            </div>
        </div>
        <div class="on-call-btn on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callMicOnIcon.svg") _%>
            </div>
            <div class="on-call-btn__icon on-call-btn__icon--selected">
                <%- include("../partials/icons/callMicOffIcon.svg") _%>
            </div>
        </div>
        <div class="on-call-btn on-call-btn__icon--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected">
                <%- include("../partials/icons/callSettingsIcon.svg") _%>
            </div>
        </div>
        <div class="on-call-btn on-call-btn--unselected ">
            <div class="on-call-btn__icon on-call-btn__icon--unselected on-call-btn__icon--selected">
                <%- include("../partials/icons/callEndIcon.svg") _%>
            </div>
        </div>
    </div>

</div>